{% extends "index.html" %}

{% block jsonld %}
{{ jsonld_macros::breadcrumb(path=["/tags"], titles=["Tags"]) }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
        {%- for term in terms | reverse %}
        {
            "@type": "ListItem",
            "position": {{ loop.index }},
            "item": {
                "@id": "{{ term.permalink | safe }}",
                "name": "{{ term.name }}",
                "url": "{{ term.permalink | safe }}"
            }
        }{% if not loop.last %},{% endif %}
        {%- endfor %}
    ],
    "itemListOrder": "https://schema.org/ItemListOrderDescending",
    "name": "Tags"
}
</script>
{% endblock jsonld %}

{% block content %}
    <h1>Tags</h1>

    {% if terms %}
        <ul class="post-tags">
            {% for term in terms | reverse %}
                <li><a href="{{ term.permalink | safe }}">{{ term.name }} ({{ term.pages | length }})</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
