{% extends "index.html" %}

{% block jsonld %}
{{ jsonld_macros::breadcrumb_page(path=page.components, titles=page.components | slice(end=-1) | concat(with=page.title)) }}
<script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type": "BlogPosting",
    {% if page.extra.image %}"image": "{{ page.extra.image | safe }}",{% endif %}
    {% if page.extra.images -%}
        {%- set images = [] -%}
        {%- for image in page.extra.images -%}
        {%- set_global images = images | concat(with=get_url(path=image)) -%}
        {%- endfor -%}
    "image": {{ images | json_encode(pretty=true) | safe }},{% endif %}
    "url": "{{ page.permalink | safe }}",
    "headline": "{{ page.title }}",
    {% if page.extra.headline %}"alternativeHeadline": "{{ page.extra.headline }}",{% endif %}
    "dateCreated": "{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%z") }}",
    "datePublished": "{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%z") }}",
    {% if page.updated %}"dateModified": "{{ page.updated | date(format="%Y-%m-%dT%H:%M:%S%z") }}",{% endif %}
    "inLanguage": "{{ page.lang }}",
    "isFamilyFriendly": "true",
    {% if page.extra.author and page.extra.author_url -%}
    "author": {
        "@type": "Person",
        "name": "{{ page.extra.author }}",
        "url": "{{ page.extra.author_url | safe }}"
    },{% endif %}
    "mainEntityOfPage": "True",
    {% if page.extra.keywords %}"keywords": {{ page.extra.keywords | json_encode | safe }},{% endif %}
    {% if page.extra.category %}"articleSection": "{{ page.extra.category }}",{% endif %}
    "genre": {{ page.taxonomies.tags | json_encode | safe }}
}
</script>
{% endblock jsonld %}

{% block content %}
<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.extra.retired %}<br>This article has been retired, it may not be accurate anymore.<br><br>{% endif %}
        <div class="post-meta">
            {% if page.extra.author_url %}Author: <a class="post-author" href="{{ page.extra.author_url | safe }}">
                {{ page.extra.author }}
            </a>
            {% else %}<span class="post-author">
                Author: {{ page.extra.author }}
            </span>{% endif %}
            <br/>
            <span class="post-date">Published: <time datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%z") }}">{{ page.date | date(format="%B %e, %Y %H:%M") }}</time></span>
            {% if page.updated %}<span class="post-date"> and updated: <time datetime="{{ page.updated | date(format="%Y-%m-%dT%H:%M:%S%z") }}">{{ page.updated | date(format="%B %e, %Y %H:%M") }}</time></span>{% endif %}
            <span>&middot;</span>
            <span class="post-reading-time">{{ page.reading_time }} min read</span>
        </div>
    </header>
    <div class="post-content">{{ page.content | safe }}</div>
    <footer class="post-footer">
        {% if page.taxonomies.tags %}
        <ul class="post-tags">
        {% for tag in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </footer>
</article>
{% endblock content %}