{% extends "index.html" %}

{% block jsonld %}
{{ jsonld_macros::breadcrumb_page(path=section.components, titles=section.components) }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
        {%- for page in section.pages %}
        {
            "@type": "ListItem",
            "position": {{ loop.index }},
            "item": {
                "@id": "{{ page.permalink | safe }}",
                "name": "{{ page.title }}",
                "url": "{{ page.permalink | safe }}"
            }
        }{% if not loop.last %},{% endif %}
        {%- endfor %}
    ],
    "itemListOrder": "https://schema.org/ItemListUnordered",
    "name": "{{ section.title | safe }}"
}
</script>
{% endblock jsonld %}


{% block content %}
<div class="posts">
    {% for page in section.pages %}
    {{ post_macros::page_in_list(page=page)}}
    </article>{% endfor %}
</div>
{% endblock content %}